<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="connect" connectionString="Server=PROJECTIDEAS;database=smart_wardrobe;User Id=sa;Password=root;"/>
    <!--User Id=sa;Password=root; -->
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.serviceModel>
    
    <bindings>
      <webHttpBinding>
        <binding name="WebHttpBinding_IService1" maxReceivedMessageSize="10485760"  closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:01:00" sendTimeout="10:01:00" allowCookies="false" transferMode="Buffered">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="SmartWardrobe_service.Service1" behaviorConfiguration="SmartWardrobe_service">
        <endpoint name="" binding="webHttpBinding"  bindingConfiguration="WebHttpBinding_IService1" contract="SmartWardrobe_service.IService1" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="SmartWardrobe_service">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
        
        <behavior name="EndPointBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping> 
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>

    <httpErrors existingResponse="PassThrough"></httpErrors>
  </system.webServer>

</configuration>
